mode server
tls-server
management 127.0.0.1 44444
port 1194
proto udp
dev tun

server      10.250.240.0 255.255.255.0
push "route 10.250.240.0 255.255.255.0"
ifconfig-pool-persist ipp-udp.txt
keepalive 10 120

persist-key
persist-tun
comp-lzo
push "comp-lzo"
cipher AES-256-CBC

# duplicate-cn
user nobody

ca   keys/ca.crt
cert keys/server.crt
key  keys/server.key
dh   keys/dh4096.pem
crl-verify keys/crl.pem
tls-auth keys/ta.key 0
tls-timeout 120

push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"
# push "redirect-gateway def1 bypass-dhcp"
